<head>
	<title>Party Planner!</title>
        <link rel="stylesheet" type="text/css" href="/stylesheet.css"></head>
</head>
    <div class="header">
	  <h1>EVENT FORM</h1>
    </div>

<%= render 'form', booking: @booking %>

<%= link_to 'Back', bookings_path %>
